<!DOCTYPE HTML>
<html ng-app="myApp">
<head>
	<meta charset="UTF-8">
    <title>Road UI</title>
    <script src="bower_components/angular/angular.js"></script>

    <!--Angular Material-->
	<link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
	
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="bower_components/angular-aria/angular-aria.js"></script>

	<!-- Angular Material Javascript now available via Google CDN; version 0.6 used here -->
	<script src="bower_components/angular-material/angular-material.js"></script>

	<!--Firebase-->
    <script src="https://cdn.firebase.com/js/client/2.2.7/firebase.js"></script>

    <!-- AngularFire -->
	<script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>

	<!-- RSVP -->
	<script src="bower_components/rsvp/rsvp.min.js"></script>

	<!-- GeoFire -->
	<script src="https://cdn.firebase.com/libs/geofire/3.2.2/geofire.min.js"></script>


	<script src="app.js"></script>

</head>
<body id="content" data-ng-controller="dataController">
	<form name="dataForm">
		<div>
			<md-content layout-padding layout layout-sm="column">
				<md-input-container>
					<label>Key:</label>
					<input required ng-model="data.key">
				</md-input-container>
				<md-input-container>
					<label>Latitude:</label>
					<input required ng-model="data.latitude">
				</md-input-container>
				<md-input-container>
					<label>Longitude:</label>
					<input required ng-model="data.longitude">
				</md-input-container>
				<md-input-container>
					<label>Type:</label>
					<input required ng-model="data.type">
				</md-input-container>
				<md-input-container>
					<md-button class="md-raised" ng-model="submitButton" ng-click="submitValue()">Add</md-button>
				</md-input-container>	

			</md-content>
		</div>
	</form>

	<div layout layout-margin="column">
	<div flex="50">
		<h1>Data in the database</h1>
		<table class="table table-stripped" border=1px solid black width="50%">
			<thead>
				<th><span>Key</span></th>
				<th><span>Coordinate</span></th>
				<th><span>Type</span></th>
				<th><span>Edit</span></th>
				<th><span>Delete</span></th>
			</thead>
			<tbody ng-repeat="(key, value) in geoKeyDataObj">
				<tr>
					<td>{{key}}</td>
					<td>{{geoFireDataObj[key].l[0]}},{{geoFireDataObj[key].l[1]}}</td>
					<td>{{value.type}}</td>
					<td><md-button class="md-raised" ng-click="edit(key)">EDIT</md-button></td>
					<td><md-button class="md-raised" ng-click="delete(key)">DELETE</md-button></td>
				</tr>
			</tbody>	

		</table>
	</div>

	<div flex="50" layout-padding>
		<form name="editDataForm" ng-show="editDataFormStatus">
			<md-content layout-padding layout="column">
				<md-input-container>
					<label>Key:</label>
					<input required ng-model="editData.key">
				</md-input-container>
				<md-input-container>
					<label>Latitude:</label>
					<input required ng-model="editData.latitude">
				</md-input-container>
				<md-input-container>
					<label>Longitude:</label>
					<input required ng-model="editData.longitude">
				</md-input-container>
				<md-input-container>
					<label>Type:</label>
					<input required ng-model="editData.type">
				</md-input-container>
				<md-input-container layout="row" layout-allign="center center">
					<md-button class="md-raised" ng-model="editFormSubmitButton" ng-click="editValue()">Edit</md-button>
					<md-button class="md-raised" ng-model="editFormCancelButton" ng-click="editFormCancel()">Cancel</md-button>
				</md-input-container>	

			</md-content>
	</form>
	</div>
	</div>

</body>
</html>